body {
  font-family: "fontvazir";
  margin: 0;
  background: #0f172a;
  color: white;
}

section {
  padding: 50px;
  text-align: center;
}

.home {
  background: #1e293b;
  padding: 80px;
}

.skills ul {
  list-style: none;
  padding: 0;
}

.skills li {
  display: inline-block;
  background: #334155;
  margin: 5px;
  padding: 10px 15px;
  border-radius: 10px;
}

.card {
  background: #1e293b;
  margin: 20px auto;
  padding: 20px;
  width: 300px;
  border-radius: 15px;
}

a {
  color: #38bdf8;
  text-decoration: none;
}

box {
  background: #0f172a;
}

.link-box {
  display: block;
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  text-decoration: none;
  color: white;
  background: linear-gradient(135deg, #1e293b, #334155);
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.4);
  transition: 0.3s;
}

.link-box:hover {
  transform: scale(1.05);
  background: linear-gradient(135deg, #2563eb, #1e40af);
  box-shadow: 0 15px 30px rgba(37,99,235,0.4);
}

.subtitle {
  font-size: 30px;
}

.text {
  text-align: center;
}


@font-face {
  font-family: "fontvazir" ;
  src: url(../font/Vazir-Bold-FD-WOL.ttf);
}

.font_other {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}
